In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/train.csv")
df.head()

,id,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality
0,0,0.0,No,6.0,4.0,No,15.0,5.0,Extrovert
1,1,1.0,No,7.0,3.0,No,10.0,8.0,Extrovert
2,2,6.0,Yes,1.0,0.0,NaN,3.0,0.0,Introvert
3,3,3.0,No,7.0,3.0,No,11.0,5.0,Extrovert
4,4,1.0,No,4.0,4.0,No,13.0,NaN,Extrovert

In [3]:
df.shape

(18524, 9)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18524 entries, 0 to 18523
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         18524 non-null  int64
 1   Time_spent_Alone           17334 non-null  float64
 2   Stage_fear                 16631 non-null  object
 3   Social_event_attendance    17344 non-null  float64
 4   Going_outside              17058 non-null  float64
 5   Drained_after_socializing  17375 non-null  object
 6   Friends_circle_size        17470 non-null  float64
 7   Post_frequency             17260 non-null  float64
 8   Personality                18524 non-null  object
dtypes: float64(5), int64(1), object(3)
memory usage: 1.3+ MB

In [5]:
df["id"].unique().size

18524

Since the number of data samples and the unique values in "id" column is matching, dropping the column.

In [6]:
df.drop(columns=["id"], inplace=True)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18524 entries, 0 to 18523
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Time_spent_Alone           17334 non-null  float64
 1   Stage_fear                 16631 non-null  object
 2   Social_event_attendance    17344 non-null  float64
 3   Going_outside              17058 non-null  float64
 4   Drained_after_socializing  17375 non-null  object
 5   Friends_circle_size        17470 non-null  float64
 6   Post_frequency             17260 non-null  float64
 7   Personality                18524 non-null  object
dtypes: float64(5), object(3)
memory usage: 1.1+ MB

In [8]:
df.describe()

,Time_spent_Alone,Social_event_attendance,Going_outside,Friends_circle_size,Post_frequency
count,17334.000000,17344.000000,17058.000000,17470.000000,17260.000000
mean,3.137764,5.265106,4.044319,7.996737,4.982097
std,3.003786,2.753359,2.062580,4.223484,2.879139
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,3.000000,3.000000,5.000000,3.000000
50%,2.000000,5.000000,4.000000,8.000000,5.000000
75%,4.000000,8.000000,6.000000,12.000000,7.000000
max,11.000000,10.000000,7.000000,15.000000,10.000000

In [9]:
df.head()

,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality
0,0.0,No,6.0,4.0,No,15.0,5.0,Extrovert
1,1.0,No,7.0,3.0,No,10.0,8.0,Extrovert
2,6.0,Yes,1.0,0.0,NaN,3.0,0.0,Introvert
3,3.0,No,7.0,3.0,No,11.0,5.0,Extrovert
4,1.0,No,4.0,4.0,No,13.0,NaN,Extrovert

In [10]:
df.isna().sum()

Time_spent_Alone             1190
Stage_fear                   1893
Social_event_attendance      1180
Going_outside                1466
Drained_after_socializing    1149
Friends_circle_size          1054
Post_frequency               1264
Personality                     0
dtype: int64

In [11]:
# df.dropna(inplace=True)

In [12]:
df.head()

,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality
0,0.0,No,6.0,4.0,No,15.0,5.0,Extrovert
1,1.0,No,7.0,3.0,No,10.0,8.0,Extrovert
2,6.0,Yes,1.0,0.0,NaN,3.0,0.0,Introvert
3,3.0,No,7.0,3.0,No,11.0,5.0,Extrovert
4,1.0,No,4.0,4.0,No,13.0,NaN,Extrovert

In [13]:
# df["Personality"] = df["Personality"].map({"Introvert": 0, "Extrovert": 1})

In [14]:
df.head()

,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality
0,0.0,No,6.0,4.0,No,15.0,5.0,Extrovert
1,1.0,No,7.0,3.0,No,10.0,8.0,Extrovert
2,6.0,Yes,1.0,0.0,NaN,3.0,0.0,Introvert
3,3.0,No,7.0,3.0,No,11.0,5.0,Extrovert
4,1.0,No,4.0,4.0,No,13.0,NaN,Extrovert

In [15]:
# pd.get_dummies(df)

In [18]:
from autogluon.tabular import TabularPredictor

c:\GitHub\Predict-the-Introverts-from-the-Extroverts\.venv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [21]:
predictor = TabularPredictor(label="Personality", eval_metric='accuracy', path='ag_models/').fit(df)

Warning: path already exists! This predictor may overwrite an existing predictor! path="ag_models/"
Verbosity: 2 (Standard Logging)
=================== System Info ===================
AutoGluon Version:  1.3.1
Python Version:     3.12.4
Operating System:   Windows
Platform Machine:   AMD64
Platform Version:   10.0.22000
CPU Count:          16
Memory Avail:       3.50 GB / 15.91 GB (22.0%)
Disk Space Avail:   98.08 GB / 930.23 GB (10.5%)
===================================================
No presets specified! To achieve strong results with AutoGluon, it is recommended to use the available presets. Defaulting to `'medium'`...
	Recommended Presets (For more details refer to https://auto.gluon.ai/stable/tutorials/tabular/tabular-essentials.html#presets):
	presets='experimental' : New in v1.2: Pre-trained foundation model + parallel fits. The absolute best accuracy without consideration for inference speed. Does not support GPU.
	presets='best'         : Maximize accuracy. Recommended for most users. Use in competitions and benchmarks.
	presets='high'         : Strong accuracy with fast inference speed.
	presets='good'         : Good accuracy with very fast inference speed.
	presets='medium'       : Fast training time, ideal for initial prototyping.
Beginning AutoGluon training ...
AutoGluon will save models to "c:\GitHub\Predict-the-Introverts-from-the-Extroverts\notebooks\ag_models"
Train Data Rows:    18524
Train Data Columns: 7
Label Column:       Personality
AutoGluon infers your prediction problem is: 'binary' (because only two unique label-values observed).
	2 unique label values:  ['Extrovert', 'Introvert']
	If 'binary' is not the correct problem_type, please manually specify the problem_type parameter during Predictor init (You may specify problem_type as one of: ['binary', 'multiclass', 'regression', 'quantile'])
Problem Type:       binary
Preprocessing data ...
Selected class <--> label mapping:  class 1 = Introvert, class 0 = Extrovert
	Note: For your binary classification, AutoGluon arbitrarily selected which label-value represents positive (Introvert) vs negative (Extrovert) class.
	To explicitly set the positive_class, either rename classes to 1 and 0, or specify positive_class in Predictor init.
Using Feature Generators to preprocess the data ...
Fitting AutoMLPipelineFeatureGenerator...
	Available Memory:                    3590.82 MB
	Train Data (Original)  Memory Usage: 2.46 MB (0.1% of available memory)
	Inferring data type of each feature based on column values. Set feature_metadata_in to manually specify special dtypes of the features.
	Stage 1 Generators:
		Fitting AsTypeFeatureGenerator...
	Stage 2 Generators:
		Fitting FillNaFeatureGenerator...
	Stage 3 Generators:
		Fitting IdentityFeatureGenerator...
		Fitting CategoryFeatureGenerator...
			Fitting CategoryMemoryMinimizeFeatureGenerator...
	Stage 4 Generators:
		Fitting DropUniqueFeatureGenerator...
	Stage 5 Generators:
		Fitting DropDuplicatesFeatureGenerator...
	Types of features in original data (raw dtype, special dtypes):
		('float', [])  : 5 | ['Time_spent_Alone', 'Social_event_attendance', 'Going_outside', 'Friends_circle_size', 'Post_frequency']
		('object', []) : 2 | ['Stage_fear', 'Drained_after_socializing']
	Types of features in processed data (raw dtype, special dtypes):
		('category', []) : 2 | ['Stage_fear', 'Drained_after_socializing']
		('float', [])    : 5 | ['Time_spent_Alone', 'Social_event_attendance', 'Going_outside', 'Friends_circle_size', 'Post_frequency']
	0.1s = Fit runtime
	7 features in original data used to generate 7 features in processed data.
	Train Data (Processed) Memory Usage: 0.74 MB (0.0% of available memory)
Data preprocessing and feature engineering runtime = 0.11s ...
AutoGluon will gauge predictive performance using evaluation metric: 'accuracy'
	To change this, specify the eval_metric parameter of Predictor()
Automatically generating train/validation split with holdout_frac=0.1, Train Rows: 16671, Val Rows: 1853
User-specified model hyperparameters to be fit:
{
	'NN_TORCH': [{}],
	'GBM': [{'extra_trees': True, 'ag_args': {'name_suffix': 'XT'}}, {}, {'learning_rate': 0.03, 'num_leaves': 128, 'feature_fraction': 0.9, 'min_data_in_leaf': 3, 'ag_args': {'name_suffix': 'Large', 'priority': 0, 'hyperparameter_tune_kwargs': None}}],
	'CAT': [{}],
	'XGB': [{}],
	'FASTAI': [{}],
	'RF': [{'criterion': 'gini', 'ag_args': {'name_suffix': 'Gini', 'problem_types': ['binary', 'multiclass']}}, {'criterion': 'entropy', 'ag_args': {'name_suffix': 'Entr', 'problem_types': ['binary', 'multiclass']}}, {'criterion': 'squared_error', 'ag_args': {'name_suffix': 'MSE', 'problem_types': ['regression', 'quantile']}}],
	'XT': [{'criterion': 'gini', 'ag_args': {'name_suffix': 'Gini', 'problem_types': ['binary', 'multiclass']}}, {'criterion': 'entropy', 'ag_args': {'name_suffix': 'Entr', 'problem_types': ['binary', 'multiclass']}}, {'criterion': 'squared_error', 'ag_args': {'name_suffix': 'MSE', 'problem_types': ['regression', 'quantile']}}],
	'KNN': [{'weights': 'uniform', 'ag_args': {'name_suffix': 'Unif'}}, {'weights': 'distance', 'ag_args': {'name_suffix': 'Dist'}}],
}
Fitting 13 L1 models, fit_strategy="sequential" ...
Fitting model: KNeighborsUnif ...
	0.9655	 = Validation score   (accuracy)
	0.02s	 = Training   runtime
	0.03s	 = Validation runtime
Fitting model: KNeighborsDist ...
	0.9574	 = Validation score   (accuracy)
	0.02s	 = Training   runtime
	0.03s	 = Validation runtime
Fitting model: LightGBMXT ...
	Warning: Exception caused LightGBMXT to fail during training (ImportError)... Skipping this model.
		`import lightgbm` failed. A quick tip is to install via `pip install autogluon.tabular[lightgbm]==1.3.1`.
Fitting model: LightGBM ...
	Warning: Exception caused LightGBM to fail during training (ImportError)... Skipping this model.
		`import lightgbm` failed. A quick tip is to install via `pip install autogluon.tabular[lightgbm]==1.3.1`.
Fitting model: RandomForestGini ...
	0.9638	 = Validation score   (accuracy)
	0.78s	 = Training   runtime
	0.07s	 = Validation runtime
Fitting model: RandomForestEntr ...
	0.9633	 = Validation score   (accuracy)
	0.69s	 = Training   runtime
	0.05s	 = Validation runtime
Fitting model: CatBoost ...
	Warning: Exception caused CatBoost to fail during training (ImportError)... Skipping this model.
		`import catboost` failed. A quick tip is to install via `pip install autogluon.tabular[catboost]==1.3.1`.
Fitting model: ExtraTreesGini ...
	0.9633	 = Validation score   (accuracy)
	0.68s	 = Training   runtime
	0.05s	 = Validation runtime
Fitting model: ExtraTreesEntr ...
	0.9644	 = Validation score   (accuracy)
	0.68s	 = Training   runtime
	0.05s	 = Validation runtime
Fitting model: NeuralNetFastAI ...
	Warning: Exception caused NeuralNetFastAI to fail during training (ImportError)... Skipping this model.
		Import fastai failed. A quick tip is to install via `pip install autogluon.tabular[fastai]==1.3.1`.
Fitting model: XGBoost ...
	Warning: Exception caused XGBoost to fail during training (ImportError)... Skipping this model.
		`import xgboost` failed. A quick tip is to install via `pip install autogluon.tabular[xgboost]==1.3.1`.
Fitting model: NeuralNetTorch ...
	Warning: Exception caused NeuralNetTorch to fail during training (ImportError)... Skipping this model.
		Unable to import dependency torch
A quick tip is to install via `pip install torch`.
The minimum torch version is currently 2.2.
Fitting model: LightGBMLarge ...
	Warning: Exception caused LightGBMLarge to fail during training (ImportError)... Skipping this model.
		`import lightgbm` failed. A quick tip is to install via `pip install autogluon.tabular[lightgbm]==1.3.1`.
Fitting model: WeightedEnsemble_L2 ...
	Ensemble Weights: {'KNeighborsUnif': 0.667, 'RandomForestGini': 0.333}
	0.9682	 = Validation score   (accuracy)
	0.05s	 = Training   runtime
	0.0s	 = Validation runtime
AutoGluon training complete, total runtime = 4.42s ... Best model: WeightedEnsemble_L2 | Estimated inference throughput: 17753.8 rows/s (1853 batch size)
Disabling decision threshold calibration for metric `accuracy` due to having fewer than 10000 rows of validation data for calibration, to avoid overfitting (1853 rows).
	`accuracy` is generally not improved through threshold calibration. Force calibration via specifying `calibrate_decision_threshold=True`.
TabularPredictor saved. To load, use: predictor = TabularPredictor.load("c:\GitHub\Predict-the-Introverts-from-the-Extroverts\notebooks\ag_models")

In [22]:
predictor.leaderboard(df, silent=True)

,model,score_test,score_val,eval_metric,pred_time_test,pred_time_val,fit_time,pred_time_test_marginal,pred_time_val_marginal,fit_time_marginal,stack_level,can_infer,fit_order
0,ExtraTreesEntr,0.991309,0.964382,accuracy,0.149004,0.049999,0.681125,0.149004,0.049999,0.681125,1,True,6
1,RandomForestGini,0.991255,0.963842,accuracy,0.181948,0.074000,0.783878,0.181948,0.074000,0.783878,1,True,3
2,RandomForestEntr,0.991201,0.963303,accuracy,0.153001,0.050000,0.686000,0.153001,0.050000,0.686000,1,True,4
3,ExtraTreesGini,0.991201,0.963303,accuracy,0.181999,0.050003,0.681644,0.181999,0.050003,0.681644,1,True,5
4,KNeighborsDist,0.986180,0.957366,accuracy,0.220595,0.028002,0.022042,0.220595,0.028002,0.022042,1,True,2
5,WeightedEnsemble_L2,0.970903,0.968160,accuracy,0.394803,0.104372,0.854880,0.029000,0.000000,0.050002,2,True,7
6,KNeighborsUnif,0.968527,0.965461,accuracy,0.183855,0.030372,0.021000,0.183855,0.030372,0.021000,1,True,1

---

# Predict

---

In [23]:
df_test = pd.read_csv("../data/test.csv")
df_test.head()

,id,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency
0,18524,3.0,No,7.0,4.0,No,6.0,NaN
1,18525,NaN,Yes,0.0,0.0,Yes,5.0,1.0
2,18526,3.0,No,5.0,6.0,No,15.0,9.0
3,18527,3.0,No,4.0,4.0,No,5.0,6.0
4,18528,9.0,Yes,1.0,2.0,Yes,1.0,1.0

In [24]:
# df_test.dropna(inplace=True)

In [25]:
submission = pd.DataFrame()
submission["id"] = df_test["id"].to_list()

In [26]:
df_test.drop(columns=["id"], inplace=True)

In [27]:
# df_test = pd.get_dummies(df_test)

In [28]:
res = predictor.predict(df_test)
res

0       Extrovert
1       Introvert
2       Extrovert
3       Extrovert
4       Introvert
          ...
6170    Extrovert
6171    Introvert
6172    Extrovert
6173    Extrovert
6174    Introvert
Name: Personality, Length: 6175, dtype: object

In [33]:
res.tolist()

['Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Introvert',
 'Introvert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Introvert',
 'Introvert',
 'Introvert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Introvert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Introvert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Introvert',
 'Introvert',
 'Introvert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Introvert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Introvert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Introvert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Introvert',
 'Introvert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Introvert',
 'Introvert',
 'Introvert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Introvert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Introvert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Introvert',
 'Introvert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Introvert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Introvert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Introvert',
 'Extrovert',
 'Introvert',
 'Introvert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Introvert',
 'Introvert',
 'Introvert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Introvert',
 'Introvert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Introvert',
 'Introvert',
 'Introvert',
 'Extrovert',
 'Introvert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Introvert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Introvert',
 'Introvert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Introvert',
 'Introvert',
 'Introvert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Introvert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 'Extrovert',
 ...]

In [34]:
submission["Personality"] = res.tolist()
submission

         id Personality
0     18524   Extrovert
1     18525   Introvert
2     18526   Extrovert
3     18527   Extrovert
4     18528   Introvert
...     ...         ...
6170  24694   Extrovert
6171  24695   Introvert
6172  24696   Extrovert
6173  24697   Extrovert
6174  24698   Introvert

[6175 rows x 2 columns]

In [35]:
# submission["Personality"] = submission["Personality"].map({0: "Introvert", 1: "Extrovert"})
# submission

In [36]:
submission.to_csv("submission.csv",index=False)